* {
    transition-duration: 0.3s;
}

.shadow1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
.shadow1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bicon {
    margin-right: 5px;
}

.bgroup {
    width: 80%;
    height: 70px;
}

.button.ytb {
    background: #ff0000;
    border-color: #ff0000;
    color: #f1f1f1;
}

.button[disabled].ytb {
    background: #ff0000;
    border-color: #ff0000;
    color: #f1f1f1;
    opacity: 0.5;
}

.button.ytb:hover {
    color: #f1f1f1;
    border-color: #ff0000;
}

hr {
    background-color: #212121;
    opacity: 20%;
    border-radius: 10px;
}

.streaming {
    margin-bottom: 20px;
}

.button.amz {
    background: #0077C1;
    border-color: #0077C1;
    color: #f1f1f1;
}

.button.amz:hover {
    color: #f1f1f1;
    border-color: #0077C1;
}

.button.spf {
    background: #1DB954;
    border-color: #1DB954;
    color: #f1f1f1;
}

.button.spf:hover {
    color: #f1f1f1;
    border-color: #1DB954;
}

.button.scd {
    background: #ff7700;
    border-color: #ff7700;
    color: #f1f1f1;
}

.button.scd:hover {
    color: #f1f1f1;
    border-color: #ff7700;
}

.button.svn {
    background: #258f83;
    border-color: #258f83;
    color: #f1f1f1;
}

.button.svn:hover {
    color: #f1f1f1;
    border-color: #258f83;
}

.button[disabled].svn {
    background: #258f83;
    color: #f1f1f1;
    border-color: #258f83;
    opacity: 0.5;
}

.svnico {
    background-image: url(img/saavn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 15px;
    height: 15px;
    width: 30px;
}

.ytmico {
    background-image: url(img/ytm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
}

.ituico {
    background-image: url(img/itunes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
}

.ins {
    background: #ffdc80;
    border-color: #ffdc80;
    color: #212121;
}

.ins:hover {
    color: #212121;
    border-color: #ffdc80;
}

.data {
    font-size: 24px;
}

.td {
    text-align: center;
}